IBM_CLOUD_API_KEY=mock_demo_api_key_for_testing
WATSONX_PROJECT_ID=49af698b-2be0-4ff3-b4fa-c9136e7b03f1
WATSONX_URL=https://us-south.ml.cloud.ibm.com
FLASK_SECRET_KEY=nutrition_agent_secret_key_2026
PORT=5000
HOST=0.0.0.0